.input {
    display: block;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 0.5rem;
    font-size: 1rem;
    color: dimgray;
}

.input-wrapper {
    display: inline-block;
    position: relative;
}

.input-floating {
    padding-top: 1rem;
}

.input-floating:focus + .label-floating,
.input-floating:not(:placeholder-shown) + .label-floating {
    translate: 0.625rem -2.75rem;
    font-size: 0.75rem;
}

.label-floating {
    position: absolute;
    translate: 0.625rem -2rem;
    color: darkgray;
}